# Αποκρύπτουμε τα API keys
.env

# Αποκρύπτουμε τους φακέλους της Python
__pycache__/
*.pyc

# Αποκρύπτουμε τα παραγόμενα αρχεία παρουσιάσεων (προαιρετικό, για να μη γεμίζει το repo)
*.pptx
!template.pptx